<h1> <i class="align-middle" data-feather="users"></i> <span class="align-middle" > Clientes </h1>

<hr>
<%= link_to 'Novo Cliente', new_cliente_path, :style=> "float:right;", :class=>"btn btn-sm btn-primary mt-1" %>

<br>
<br>
<div style="border-left: 2px solid #073763; padding: 15px; background: #e8f4ff;">
<%= search_form_for @q do |f| %>
   
    <%= f.label(:name, 'NOME') %>
    <%= f.text_field :name_cont , class: 'form-control'%>
   
    <%= f.label(:cpf, 'CPF') %>
     <%= f.text_field :cpf_cont, class: 'form-control' %>
      <br>
  <%= f.submit "Buscar", class: 'btn btn-sm btn-primary'%> 
  <%= link_to "Limpar busca", request.path, class: "btn btn-sm btn-dark" %>
<% end %>
</div>

<br> 
<br>
<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>NOME</th>
      <th>RG</th>
      <th>CPF</th>
      <th>CELULAR</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
       
        <td><%= cliente.name %></td>
        
        <td><%= cliente.rg %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.celucar %></td>
        

        <td><%= link_to '<i class="align-middle" data-feather="shopping-cart"></i>'.html_safe, new_cliente_compra_path(cliente) %></td>  
        <td><%= link_to '<i class="align-middle" data-feather="eye"></i>'.html_safe, cliente %></td>
        <td><%= link_to '<i class="align-middle" data-feather="edit"></i>'.html_safe, edit_cliente_path(cliente) %></td>
        <td><%= link_to '<i class="align-middle" data-feather="trash"></i>'.html_safe, cliente, method: :delete, data: { confirm: 'DESEJA REALMENTE DELETAR ESSE CLIENTE?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination"> 
     <%= will_paginate @clientes, :container => false%> 
</div>
