<main class="content">


	<%
	if !@produto_em_baixa.blank?

		@produto_em_baixa.each do |produto|
%>
	 <p class="alert alert-danger">O produto <strong> <%= produto.nome %> </strong> está com estoque baixo. Total: <%= produto.quantidade%> <%= notice %></p>
<%

		end
	%>
	<%
	end
	%>
				<div class="container-fluid p-0">

					<%# <h1 class="h3 mb-3"><strong>Análise</strong> Dados</h1> %>

					<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Quantidade de Vendas</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck align-middle"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= @total_vendas %></h1>
												<div class="mb-0">
													
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Total de Clientes Cadastrado</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= @total_clientes %></h1>
												
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Total de Venda Diário</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"> R$ <%= @total_vendido %> </h1>
												
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Total de Produtos Cadastrado</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-middle"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= @total_produtos  %></h1>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Últimas Movimentações de Compra</h5>
								</div>
								<div class="card-body py-3">
										<table class="table table-hover my-0">
										<thead>
											<tr>
											<th>Cliente</th>
											<th>Protocolo</th>
											<th>Data da Compra</th>
											</tr>
										</thead>

										<tbody>
											<% @compras.each do |compra| %>
											<tr>
											
												<td><%= compra.vendas.first.cliente.name %></td> 
												<td><%= link_to "#{compra.protocolo}".upcase, detalhe_compra_path(compra)%></td>
												<td><%= compra.created_at.strftime("%d/%m/%Y - %H:%m") %></td>
												
											</tr>
											<% end %>
										</tbody>
										</table>

								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Últimas Vendas</h5>
								</div>


								<div id="piechart" style="width: 500px; height: 400px;"></div>
										

									
							</div>
						</div>
						<div class="col-12 col-lg-4 col-xxl-3 d-flex">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Monthly Sales</h5>
								</div>
								<div class="card-body d-flex w-100">
									<div class="align-self-center chart chart-lg"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
										<canvas id="chartjs-dashboard-bar" width="796" height="350" style="display: block; width: 796px; height: 350px;" class="chartjs-render-monitor"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>




				</div>
			</main>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Sapato',     <%=  @sapato  %>],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    1]
        ]);

        var options = {
          title: 'Produtos Mais Vendidos'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

	