<p id="notice"><%= notice %></p>


<h1> <i class="align-middle" data-feather="grid"></i> <span class="align-middle" > Devoluções</h1>
<hr>
<%= link_to 'Nova Devolução', new_devolucao_path, :style=> "float:right;", :class=>"btn btn-sm btn-primary mt-1" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>CLIENTE</th>
      <th>PRODUTO</th>
      <th>QUANTIDADE</th>
       <th>STATUS</th>
      <th>JUSTIFICATIVA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devolucaos.each do |devolucao| %>
      <tr>
        <td><%= devolucao.cliente.name %></td>
        <td><%= devolucao.produto.nome%></td>
        <td><%= devolucao.quantidade%></td>
        <td><%= devolucao.status %></td>
        <td><%= devolucao.justificativa %></td>
       
         <td><%= link_to '<i class="align-middle" data-feather="eye"></i>'.html_safe,  devolucao%></td>
        <td><%= link_to '<i class="align-middle" data-feather="edit"></i>'.html_safe, edit_devolucao_path(devolucao) %></td>
        <td><%= link_to '<i class="align-middle" data-feather="trash"></i>'.html_safe, devolucao, method: :delete, data: { confirm: 'DESEJA REALMENTE DELETAR ESSA DEVOLUÇÃO?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="digg_pagination"> 
     <%= will_paginate @devolucaos, :container => false%> 
</div>
