

<p>
  <strong>Cliente:</strong>
  <%= @devolucao.cliente.name%>
</p>

<p>
  <strong>Produto:</strong>
  <%= @devolucao.produto.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @devolucao.quantidade %>
</p>


<p>
  <strong>Status:</strong>
  <%= @devolucao.status %>
</p>

<p>
  <strong>Justificativa:</strong>
  <%= @devolucao.justificativa %>
</p>


<%= link_to 'Voltar', devolucaos_path, :class=>"btn btn-dark" %> 
<%= link_to 'Editar', edit_devolucao_path(@devolucao), :class=>"btn btn-primary" %> 
