<h1> <i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle" > Relatorio de Compras</h1>

<hr>

<br>
<div style="border-left: 2px solid #073763; padding: 15px; background: #e8f4ff;">
<%= search_form_for @q do |f| %>
 <div class="form-group">
    <%= f.label(:protocolo, 'PROTOCOLO') %>
    <%= f.text_field :protocolo_cont, class: 'form-control' %>
    <br>
  
    </div>
    <%= f.submit "Buscar", class: 'btn btn-sm btn-primary'%> 
    <%= link_to "Limpar busca", request.path, class: "btn btn-sm btn-dark" %>
    
     
<% end %>
</div>
<br>
<br>
<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>NOME CLIENTE</th>  
      <th>PROTOCOLO DA COMPRA</th>  
      <th>DATA DA COMPRA</th>     
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.vendas.first.cliente.name  %></td>
        <td> <%= link_to "#{compra.protocolo}".upcase, detalhe_compra_path(compra)%> </td>
  
       <td><%= compra.created_at.strftime("%d/%m/%Y") %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="digg_pagination"> 
     <%= will_paginate @compras, :container => false%> 
</div>