<p id="notice"><%= notice %></p>
<h1> <i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle" > Nova Compra </h1>
<hr>
<div style="border-left: 2px solid #073763; padding: 15px; background: #e8f4ff;">
<p>
  <strong>Nome:</strong>
 
  <%= @cliente.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.cpf %>
</p>


<p>
  <strong>Celular:</strong>
  <%= @cliente.celucar %>
</p>


<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>


</div>
<hr>
<br>
<br>

<%= form_for([@cliente, @compra]) do |f| %>
  





    <fieldset>
      <legend><%= Venda.human_attribute_name(:vendas) %> <%= f.add_nested_fields_link :vendas, '<i class="align-middle" data-feather="plus-square"></i>'.html_safe, style: "margin-top: 25px; color: #000;" %></legend>
    </fieldset>

	  
      <div class="row">
        <%= f.nested_fields_for :vendas do |ff| %>   
          
                  
          <div class="col-6" style="margin-right: 25px; float:left;" >
               <%= ff.label(:produto,'PRODUTO') %>
              <%= ff.collection_select(:produto_id, Produto.all, :id, :nome, {include_blank: true}, class: 'form-control') %>
            
          </div>
          
          <div class="col-2" style="margin-right: 25px; float:left;">
            
               <%= ff.label(:quantidade, 'QUANTIDADE') %>
              <%= ff.text_field :quantidade, :class=>"form-control" %>
              
            
          </div>
          
          <div class="col-2" style="margin-right: 25px; float:left;">
            
              <%= ff.label(:valor_venda, 'VALOR VENDA') %>
              <%= ff.text_field :valor_venda, :class=>"form-control" %>
              
            
          </div>

          <%= ff.hidden_field :cliente_id, :value=>"#{@id}" %>
          
              
          <div class="col-2">
              <%= f.add_nested_fields_link :vendas, '+', style: "margin-top: 25px;" %>
              <%= ff.remove_nested_fields_link '-', style: "margin-top: 25px;" %>    
          </div>
          
        <% end %>
      </div>

  







<br>
<br>

<br>

  <div class="actions pull-right">
    
    <%= f.submit id: 'submit_rh', class: 'btn btn-success btn-lg', value:"EFETUAR COMPRA"  %>
  </div>
 




<% end %>






