<%= form_for(produto) do |f| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:name, 'NOME') %>
    <%= f.text_field :nome, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label(:quantidade, 'QUANTIDADE') %>
    <%= f.text_field :quantidade, :class=>"form-control", :type=>"int" %>
  </div>

  <div class="field">
    <%= f.label(:tipo, 'TIPO') %>
    <%= f.text_field:tipo, :class => 'form-control' %>
   
  </div>

  <div class="field">
    <%= f.label(:tamanho, 'TAMANHO') %>
    <%= f.text_field :tamanho, :class=>"form-control", :type=>"int" %>
  </div>

  <div class="field">
    <%= f.label(:preco_compra, 'PREÇO COMPRA') %>
    <%= f.text_field :preco_compra, :class=>"form-control", :onkeyup=>"k(this);" %>
  </div>

  <div class="field">
    <%= f.label(:preco_venda, 'PREÇO VENDA') %>
    <%= f.text_field :preco_venda, :class=>"form-control", :onkeyup=>"k(this);" %> 
  </div>
  
  <div class="field">
    <%= f.label(:descricao, 'DESCRIÇÃO') %>
    <%= f.text_area :descricao, :class=>"form-control" %>
  </div>
  <br>
  <br>

  <div class="actions">
  <%= link_to 'Voltar', produtos_path, :class=>"btn btn-dark" %>
    <%= f.submit :class=>"btn btn-primary", :value=>"Salvar Produto" %>
  </div>

<% end %>


<script type="text/javascript">
function k(i) {
    var v = i.value.replace(/\D/g,'');
    v = (v/100).toFixed(2) + '';
    v = v.replace(".", ",");
    v = v.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
    i.value = v;
}
</script>