<p id="notice"><%= notice %></p>

<h1><i class="align-middle" data-feather="book"></i> <span class="align-middle"> Produtos</h1>
<hr>

<a style="float:right;" class="btn btn-sm btn-primary mt-1" href="/produtos/new">Novo Produto</a>
<br>

<br>
<div style="border-left: 2px solid #073763; padding: 15px; background: #e8f4ff;">
<%= search_form_for @q do |f| %>
 <div class="form-group">
    <%= f.label(:name, 'NOME') %>
    <%= f.text_field :nome_cont, class: 'form-control' %>
    <br>
  
    </div>
    <%= f.submit "Buscar", class: 'btn btn-sm btn-primary'%> 
    <%= link_to "Limpar busca", request.path, class: "btn btn-sm btn-dark" %>
    
     
<% end %>
</div>
<br>
<br>
<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>NOME</th>
      <th>QUANTIDADE</th>
      <th>PREÇO VENDA</th>
      <th>DESCRIÇÃO</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.quantidade %></td>
        <td><%= number_to_currency(produto.preco_venda) %>
        </td><td><%= produto.descricao %></td>
        <td><%= link_to '<i class="align-middle" data-feather="eye"></i>'.html_safe, produto %></td>
        <td><%= link_to '<i class="align-middle" data-feather="edit"></i>'.html_safe, edit_produto_path(produto) %></td>
        <td><%= link_to '<i class="align-middle" data-feather="trash"></i>'.html_safe, produto, method: :delete, data: { confirm: 'DESEJA REALMENTE DELETAR ESSE PRODUTO?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination"> 
     <%= will_paginate @produtos, :container => false%> 
</div>




