

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @produto.tipo %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @produto.tamanho %>
</p>

<p>
  <strong>Preço compra:</strong>
  <%= number_to_currency(@produto.preco_compra) %>
</p>

<p>
  <strong>Preço Venda:</strong>
  <%= number_to_currency(@produto.preco_venda) %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>


<%= link_to 'Voltar', produtos_path, :class=>"btn btn-dark" %> 
<%= link_to 'Editar', edit_produto_path(@produto), :class=>"btn btn-primary" %> 

