<style type="text/css">
    @media print{
      .no-print{
      display: none;
      }
    }
</style>
<h1> <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle" > Relatórios </h1>

<hr>

<br>
<div style="border-left: 2px solid #073763; padding: 15px; background: #e8f4ff;", class="no-print">
<%= search_form_for @q do |f| %>
    <%= f.label(:Data_Inicial, 'DATA INICIAL') %>
    <%= f.text_field :created_at_cont , class: 'form-control', :type=>"date", :name=>"data_inicial", :value=>"params[:data_inicial]" %>
   
    <%= f.label(:Data_Final, 'DATA FINAL') %>
     <%= f.text_field :created_at_cont, class: 'form-control', :type=>"date", :name => "data_final",:value=>" params[:data_final]" %>
      <br>
  <%= f.submit "Buscar", class: 'btn btn-sm btn-primary'%> 
  <%= link_to "Limpar busca", request.path, class: "btn btn-sm btn-dark" %>
<% end %>
</div>

<br> 
<br>
<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>CLIENTE</th>
      
      <th>PRODUTO</th>
      <th>QUANTIDADE</th>
      <th>VALOR</th>
      <th>DATA DA COMPRA</th>
      
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
       
        <td><%= venda.cliente.name %></td> 
        <td><%= venda.produto.nome %></td>
        <td><%= venda.quantidade %></td>
        <td><%= number_to_currency(venda.valor_venda*venda.quantidade) %></td>
        <td><%= venda.created_at.strftime("%d/%m/%Y") %></td>
        

      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button onclick="window.print()", class="btn btn-primary no-print", style= "float:right; " > Imprimir </button>

<br>
<div class="digg_pagination no-print"> 
     <%= will_paginate @vendas, :container => false%> 
</div>
